@media screen and (max-width:767px) {


    .login-buyer, .login-farmer {
        height: 52.5vh;
    }



        .login-farmer span, .login-buyer span {
            font-size: 3.5em;
        }

    .login-container {
        border: 0;
        background-color: #32ff7e;
    }

    #headerImage {
        display: none;
    }

    #amessleft,#anotileft{
        display:inline-block;
    }
    #amessright,#anotiright{
        display:none;
    }

    .detail-name {
        text-align:center;
    }
}


@media screen and (min-width:768px) {
    #amessleft, #anotileft{
        display:none;
    }
    #amessright,#anotiright{
        display:inline-block;
    }
}
